@font-face {
    font-family: "Determination Mono";
    src: url(../assets/fonts/DeterminationMonoWebRegular-Z5oq.ttf);
}

@font-face {
    font-family: "Determination Sans";
    src: url(../assets/fonts/DeterminationSansWebRegular-369X.ttf);
}